<h1>Hi @account.first_name</h1>
<p>Click on the link below to unlock your account.</p>
<!-- Use your front-end link here for unlock purposes -->
<a href='<%= unlock_account_url(@account.id, @token) %>'>Unlock your account</a>
<p><strong>Note:</strong> this links is only valid for 10 minutes.<p>
